* { box-sizing: border-box; margin: 0; padding: 0; -webkit-tap-highlight-color: transparent; }

body {
  font-family: 'Caveat';
  background-color: #ccc;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.overlay {
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    display: flex;
    align-items: center; justify-content: center;
    z-index: 1000;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.8);
}

.popup {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size: 28px;
}

.image-container {
    width: 100vw;
    height: 100vw;
    overflow: hidden;
    overflow-y: scroll;
    border: 1px solid #ccc;
    position: relative;
}

.image-container img {
    width: 100vw;
    height: 100vw;
    object-fit: cover;
    object-position: center;
}

.hotspot {
    position: absolute;
    width: 200px;
    height: 200px;
    cursor: pointer;
    border-radius: 100%;
    z-index: 2;
}

.tooltip-text {
    display: none;
    width: 200px;
    background-color: #ffffe0;
    color: #1a1612;
    text-align: center;
    font-size: 22px;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 10;
    border: 1px solid #d4c9b0;
}

.hotspot:hover + .tooltip-text {
    display: block;
}
